.crypto_stats {
    width: 300px;
    margin: 15px 15px 15px 0;
}

.crypto_stats h3 {
    font-family: var(--logo);
    font-weight: 700;
    margin-bottom: 5px;
    text-align: left;
}

.crypto_stats p {
    font-family: var(--logo);
    font-weight: 500;
    text-align: left;
}