@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;padding: 0;
}

:root {
    --logo: 'Poppins', sans-serif;
    --text: 'Roboto', sans-serif;
    --light-blue: #0071bd;
}

.app {
    display: flex;
    position: relative;
}

body {
    background: whitesmoke;
}

a {
    text-decoration: none;
    color: #000;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.app_navbar {
    position: fixed;
    top: 0;left: 0;
}

.app_links {
    width: 78vw;
    position: absolute;
    right: 0;top: 0;
}